
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:10.0.0
      - image: node:10.0.0
        environment:
          PGUSER: emasys
          NODE_ENV: test
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_DB: pms-test
          POSTGRES_PASSWORD: ""
          POSTGRES_USER: emasys

    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-

      - run: yarn install
      - run: npm rebuild

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run: yarn test